.education {
  padding: 2em 0 0;
  .title {
    font-size: 1.6em;
    font-weight: 500;
    border-bottom: 1px solid black;
  }
  .item-container {
    display: grid;
    grid-auto-flow: row;
    gap: 0.2em;
    padding: 1.2em 0 0;
    .space-between {
      padding: 0;
      grid-auto-flow: column;
      justify-content: space-between;
    }
    .left {
      padding: 0;
      grid-auto-flow: column;
      justify-content: left;
    }
  }
  .item {
    margin: 0;
    font-weight: 300;
    font-size: 1.2em;
  }
}