.experience {
  padding: 2em 0 0;
  @media print {
    padding-top: 1em;
  }
  .title {
    font-size: 1.4em;
    font-weight: 500;
    border-bottom: 1px solid #202e32;
  }
  .item-container {
    display: grid;
    grid-auto-flow: row;
    gap: 0.2em;
    padding: 1.2em 0 0;
    @media print {
      padding-top: 0.8em;
      display: block;
      break-after:auto ;
    }
  }
  .sub-item-container {
    display: grid;
    gap: 0.6em;
    padding: 0;
    grid-auto-flow: column;
    @media (max-width: 768px) {
      grid-auto-flow: row;
      gap: 0.2em;
    }
    @media print {
      padding-top: 0.2em;
      grid-auto-flow: column;
    }
  }
  .space-between {
    justify-content: space-between;
  }
  .left {
    justify-content: left;
  }
  .item {
    font-weight: 500;
    font-size: 1.2em;
    @media print {
      font-size: 1em;
    }
  }
  .tasks {
    display: grid;
    li {
      font-weight: 300;
      font-size: 1.2em;
      line-height: 1.2em;
      @media print {
        font-size: 1em;
      }
    }
  }
}