.footer {
  padding: 3.2em 0 0;
  @media print {
    visibility: hidden;
  }
  .item-container {
    display: grid;
    grid-auto-flow: column;
    gap: 0.6em;
    padding: 0;
    justify-content: center;
  }
  .item {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.2em;
    align-self: center;
  }
  .leaf {
    margin: 0;
    color: #30622f;
    height: 1em;
    width: 1em;
  }
}