.home {
  .header {
    display: grid;
    margin-bottom: 0.2em;
    grid-auto-flow: column;
    justify-content: space-between;
    border-bottom: 2px solid #202e32;
  }
  .name {
    font-size: 2em;
    font-weight: 500;
    align-self: flex-end;
    @media (max-width: 900px) {
      font-size: 1.6rem;
      line-height: 1.2rem;
    }
  }
  .item-container {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
  }
  .item {
    margin: 0;
    font-weight: 400;
    font-size: 1.2em;
  }
  .image {
    margin: 0 auto 2.4rem;
    width: 10em;
    height: 10em;
    clip-path: circle(5em at 5em 5em);
  }
}