.home {
  .name {
    margin: 0 0 0.2em;
    font-size: 2em;
    font-weight: 500;
    border-bottom: 2px solid black;
  }
  .item-container {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
  }
  .item {
    margin: 0;
    font-weight: 400;
    font-size: 1.2em;
  }
  .image {
    margin: 0 auto;
    width: 10em;
    height: 10em;
    clip-path: circle(5em at 5em 5em);
  }
}