.layout {
  margin: 0.8em auto;
  max-width: 8.5in;
  padding: 4rem;
  background: #f9f9f9;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  @media (max-width: 768px) {
    margin: 5vw auto;
    padding: 1rem;
    width: 80vw;
  }
  @media print {
    margin-top: 0;
    padding: 0rem;
    background: #ffffff;
    box-shadow: none;
  }
  .bg {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: #576574;
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
  }
}