.links {
  .item {
    display: inline-block;
    font-weight: 400;
    font-size: 1.2rem;
    .github {
      height: 2.2rem;
      width: 2.2rem;
    }
    .linkedin {
      height: 2.2rem;
      width: 2.2rem;
    }
  }
  
}