.skills {
  padding: 2em 0 0;
  .title {
    font-size: 1.6em;
    font-weight: 500;
    border-bottom: 1px solid black;
  }
  .item-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    gap: .4em;
    padding: 1.2em 0 0;
    @media (max-width: 768px) {
      grid-template-columns: none;
    }
  }
  .item {
    margin: 0;
    font-weight: 400;
    font-size: 1.2em;
  }
}