.summary {
  padding: 2em 0 0;
  .title {
    font-size: 1.6em;
    font-weight: 500;
    border-bottom: 1px solid #202e32;
  }
  .item-container {
    display: grid;
    grid-auto-flow: row;
    gap: .6em;
    padding: 1.2em 0 0;
  }
  .item {
    margin: 0;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.2em;
  }
}