.target {
  display: grid;
  gap: .4em;
  margin: 3rem 0 0;
  justify-content: center;
  .item {
    margin: 0;
    font-weight: 300;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
  }
  .bold {
    font-weight: 500;
  }
}